* {
    box-sizing: border-box;
  }
  
  
  main {
    margin: 20px auto;
    width: 94%;
  }

  hr {
      background:rgb(65, 62, 62);
      height: 2px;
  }

.jumbotron {
    color: white;
    background-image: linear-gradient(to right, rgb(87, 87, 240) , rgb(23, 23, 80));
    height: 30px;
    text-align: center;
}

.search-column{
    background-color: white;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto;
    background-color: #33475A;
}

.card-header{
    background-color: #33475A;
  
}

span.severe{
    background-color: red;
    color:white;
}

span.moderate{
    background-color: yellow;
}

span.favorable{
    background-color: green;
    color:white;
}

.form-input {
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
}

.btn {
    width: 100%;
    /* margin-bottom: 5px; */
}

.card {
    /* margin-bottom: 10px; */
}

#card-top {
    background-color: white;
}