* {
    box-sizing: border-box;
  }
  
  
  main {
    margin: 20px auto;
    width: 94%;
  }

  hr {
      background:grey;
      height: 2px;
  }

.jumbotron {
    color: white;
    background-image: linear-gradient(to right, rgb(87, 87, 240) , rgb(23, 23, 80));
    height: 30px;
    text-align: center;
}

.form-input {
    width: 100%;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(46, 131, 241);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }

